#id {
    color:black; 
    text-decoration: none;
    font-family: ClassicCursive;
    font-size: 24px;
}
@font-face{
    font-family: ClassicCursive;
    src: url(CedarvilleCursive-Regular.ttf)
}
#maincheck{
    color: rgb(0, 0, 0);
    font-family: ClassicCursive;
    font-size: 24px;





}
#PhoneNumber{
text-decoration: none;
color: black;
font-size: 24px;
font-family: ClassicCursive;



}